.checkout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__progress-bar {
        flex: 1 100%;
    }

    &__wrapper {
        flex: 1 calc(100% - 330px);
        max-width: calc(100% - 330px);
    }

    &__sidebar {
        flex: 1 300px;
        max-width: 300px;
    }
}
